// Font Family

$radioCanada: "Radio Canada Big", serif;
$satoshiLight: 'Satoshi-Light';
$satoshiRegular: 'Satoshi-Regular';
$satoshiMedium: 'Satoshi-Medium';
$satoshiBold: 'Satoshi-Bold';
$satoshiBLack: 'Satoshi-Black';


// Colors ---------------
$white: #ffffff;
$black: #1a1d1c;
$light: #D8D8D8;
$light2: #DEEBDC;
$grey: #E4F0F0;
$light-grey: #EBF3FF;
$theme-color: #fdc50c;
$theme-color2: #1a1d1c;
$title: #1a1d1c;
$title2: #1a1d1c;
$body-text-color: #1a1d1c;
$body-text-color2: #1a1d1c;
$hr-border-color: rgb(26, 29, 28);
$yellow-color: #fdc50c;


// Heading Color
$heding: #1a1d1c;
$heding2: #1a1d1c;

// Responsive Variables
$xxl: "only screen and (min-width: 1601px) and (max-width: 1900px)";
$xl: "only screen and (min-width: 1601px) and (max-width: 1800px)";
$laptop: "only screen and (min-width: 1200px) and (max-width: 1600px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1200px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$xs: "(max-width: 767px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";

// Responsive Variables for max-width
$max-xxl: "only screen and (max-width: 1900px)";
$max-xl: "only screen and (max-width: 1800px)";
$max-laptop: "only screen and (max-width: 1600px)";
$max-lg: "only screen and (max-width: 1200px)";
$max-md: "only screen and (max-width: 991.98px)";
$max-xs: "only screen and (max-width: 767.98px)";
$max-sm: "only screen and (min-width: 576px) and (max-width: 767.98px)";
$max-xs-s: "only screen and (max-width: 575.98px)";

//Landscape-responsive
$xs-landscape: "only screen and (min-width: 540px) and (max-width: 767px) and (orientation: landscape)";